/vendor
/node_modules

.env
.env.*

/storage
/storage/framework
/storage/framework/cache
/storage/framework/views
/storage/framework/sessions
/storage/logs

/public/storage
/public/hot

.phpunit.result.cache
